@use 'variables' as *;
@use 'mixins' as *;

footer {
    @include flex-column;
    justify-content: center;
    height: 250px;
    background-color: $footer-colour;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    position: relative;

    section {
        @include flex-column;
        position: relative;
        color: $primary-text-colour;

        img {
            width: 150px;
            margin: auto;
        }
    }

    .footer-contact {
        @include flex-row;
        justify-content: space-between;
        align-items: center;

        .footer-icons {
            img {
                padding: 1rem 0;
                width: 35px;
            }

            a {
                display: inline-block;
            }
        }

        .footer-phone,
        .footer-email {
            @include flex-row;

            i {
                @include flex-center;
                color: $footer-colour;
                background-color: #ffffff;
                border-radius: 50%;
                height: 23px;
                width: 23px;
                margin-right: 0.5rem;
            }
        }
    }
}