@use 'variables' as *;
@use 'mixins' as *;


// Default Mobile
footer {
    @include flex-column;
    justify-content: center;
    height: 250px;
    background-color: $footer-colour;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;

    section {
        @include flex-column;
        position: relative;
        color: $primary-text-colour;
        align-items: center;

        img {
            width: 150px;
            margin: auto;
        }
    }

    .footer-contact {
        @include flex-row;
        align-items: center;

        .footer-icons {
            img {
                padding: 1rem 0;
                width: 35px;
            }

            a {
                display: inline-block;
            }
        }

        .footer-phone,
        .footer-email {
            @include flex-row;

            i {
                @include flex-center;
                color: $footer-colour;
                background-color: #ffffff;
                border-radius: 50%;
                height: 23px;
                width: 23px;
                margin-right: 0.5rem;
            }
        }

        .footer-icons,
        .footer-phone,
        .footer-email {
            padding-left: 1rem;
        }
    }

// Tablet
    @include mq(768px) {
        section {
            @include flex-row;
            position: relative;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
            flex-wrap: wrap;

            img {
                width: 200px;
                margin: 0;
            }

            .footer-contact {

                .footer-icons,
                .footer-phone,
                .footer-email {
                    padding-left: 2rem;
                }
            }

            .footer-copyright {
                align-self: center;
            }
        }

    }
}