@use 'variables' as *;
@use 'mixins' as *;

header {
    height: $header-section-height;

    @include mq($tablet-width) {
        position: relative;
        @include flex-column(center, stretch, calc($padding-double * 2.5));
    }

    @include mq($desktop-medium-width) {
        gap: calc($padding * 3);
    }
}