@use 'variables' as *;


@mixin horizontal-margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin flex-row {
    display: flex;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flatten {
    margin: 0;
    padding: 0;
    line-height: 1;
}

@mixin wave-image($wave-path, $wave-height, $x-scale, $x-translation, $y-translation) {
    .wave-container {
        position: absolute;
        width: 100%;
        height: $wave-height;
        bottom: 0px;
        left: 0px;
        z-index: 2; 

        .wave {
            height: 100%;
            background-image: url($wave-path);
            background-repeat: no-repeat;
            background-size: $x-scale 100%;
            background-position: $x-translation $y-translation;
        }
    }
}

// Media Query
@mixin mq($w) {
    @media (min-width: $w) {
        @content;
    }
}