@use 'variables' as *;



// Visually hide an element but
// still make it accessible to 
// a screen reader
@mixin visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

@mixin horizontal-margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

// Feel free to add to these mixins and add your own pls 🍆
@mixin flex-row {
    display: flex;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin position-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin flatten {
    margin: 0;
    padding: 0;
    line-height: 1;
}

// Media Query
@mixin mq($w) {
    @media (min-width: $w) {
        @content;
    }
}