@use 'variables' as *;
@use 'mixins' as *;

.section-hero {
    @include flex-column;
    justify-content: space-between;

    position: relative;
    height: 100%;

    .container-hero-content {
        font-family: $body-font;
        z-index: 2;


        .nav-dots {
            @include flex-row;
            gap: 0.5rem;
        }
        .dot {
            height: 0.8rem;
            width: 0.8rem;
            border-radius: 50%;
            background-color: $primary-text-colour;
            display: inline-block;

            transition: background-color 0.2s ease-in-out;

            &.active-dot {
                background-color: $secondary-colour;
            }
        }
    }

    .hero-image-carousel {
        display: block;
        width: 100%;

        .carousel-image {
            width: 100%;
            @include position-absolute;
            opacity: 0;
            transition: opacity 1s ease-in-out;

            &.active-slide {
                opacity: 1;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: $header-height;
        }
    }
}