@use 'mixins' as *;
@use 'variables' as *;

.section-customized-per-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem 0 6rem;

    &::before {
        @include wave-image(
            "../images/wave-blue-dark.png",   // Image path
            150px,   // Wave height
            215%,    // x-scale
            100%,    // y-scale
            -100px,   // x-translation
            40px     // y-translation
        )
    }

    @include mq($desktop-general-width) {
        margin-top: 2.5rem;
    }

    @include mq($tablet-width) {
        &::before {
            @include wave-image(
                "../images/wave-blue-dark.png",   // Image path
                150px,   // Wave height
                110%,    // x-scale
                70%,     // y-scale
                -50px,   // x-translation
                60px     // y-translation
            )
        }
    }

    @include mq($desktop-large-width) {
        &::before {
            @include wave-image(
                "../images/wave-blue-dark.png",   // Image path
                150px,   // Wave height
                100%,    // x-scale
                100%,     // y-scale
                0px,   // x-translation
                60px     // y-translation
            )
        }
    }


    .container-cpo-h3 {
        max-width: rem(150);
        text-align: center;
        text-transform: uppercase;

        @include mq($tablet-width) {
            max-width: fit-content;
        }

        @include mq($desktop-general-width) {
            margin-bottom: 0.5rem;
        }

    }
    
    .container-cpo-p {
        text-align: center;
        max-width: rem(330);
        margin: 0.5rem 0 0.7rem;

        @include mq($tablet-width) {
            max-width: rem(800);
        }

        @include mq($desktop-general-width) {
            max-width: rem(920);
        }
    }

    .container-cpo-articles {
        @include mq($tablet-width) {
            max-width: rem(800);
            text-align: center;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
        }

        article {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0 0.7rem;

                @include mq($tablet-width) {
                    margin: 0.4rem 0;
                    flex-direction: column;
                }
    
                img {
                    @include mq($tablet-width) {
                        margin: 1.2rem 0.5rem;
                    }

                    @include mq($desktop-general-width) {
                        margin-top: 3rem;
                    }
                }

                .container-cpo-h4 {
                    width: rem(120);
                    margin-left: 1rem;
                    height: rem(52);
                    text-transform: uppercase;

                    @include mq($tablet-width) {
                        margin: 0;
                        width: rem(160);
                    }

                    @include mq($desktop-general-width) {
                        width: rem(200);
                    }
                }
            }

            &:not(:last-of-type) {
                width: 90vw; 
                border-bottom: 2px solid #d8d8d8; 
        
                @include mq($tablet-width){
                    border: 0;
                    width: auto;
                }
            }

            &:last-of-type {
                margin-bottom: 5rem; //space under section for the wave
            }

            .container-cpo-link {
                display: none;
                
                @include mq($tablet-width) {
                    display: block;
                    margin-top: 1rem;
                }

                @include mq($desktop-general-width) {
                    margin-top: 3rem;
                }
            }
        }
    }
}