@use 'variables' as *;
@use 'mixins' as *;

// Default Mobile (450px)

.section-contact {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary-colour;
        height: 475px;

        h2,
        button {
            color: $primary-text-colour;
            text-transform: uppercase;
        }

        h2 {
            font-size: 3rem;
            width: 330px;
            padding-bottom: 3rem;
        }

        button {
            font-size: 1.5rem;
            font-weight: 700;
            padding: 1.3rem .8rem;
            background-color: transparent;
            border: 2px solid white;
        }
    }

    .vulcan-install {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/images/map.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 500px;

        h2,
        button {
            color: #504f4f;
            text-transform: uppercase;
        }

        h2 {
            font-size: 3rem;
            width: 380px;
            padding-bottom: 1rem;
        }

        button {
            font-size: 1.5rem;
            font-weight: 700;
            padding: 1rem;
            background-color: transparent;
        }
    }

    &::before {
        @include wave-image('/images/wave-blue-light.png', 150px, 100%, 100%, -425px, 0px);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $primary-colour;
    }
}

// Tablet (800px)
@include mq($tablet-width) {
    .section-contact {
        @include flex-row-wrap(center, center, 0);
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);

        .contact-us,
        .vulcan-install {
            // width: 50%;
            flex: 1;
            height: 500px;

            button {
                background-color: $secondary-colour;
                color: white;
                border: none;
                padding: 1rem .8rem;
            }
        }

        &::before {
            position: relative;
            width: 100%;

        }



    }

    

    
}
