@use 'variables' as *;
@use 'mixins' as *;

.section-hero {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: calc($padding-half / 2);

    .container-hero-content {
        position: relative;
        margin-top: 150px;
        width: 100%;
        z-index: 2;
        
        h1 {
            color: $primary-text-colour;
            font-size: rem(28);
            font-weight: 700;
            text-align: center;
            margin-bottom: 64px;
        }

        .container-hero-btns {
            @include flex-column(center, center, $padding);

            & > a {
                padding: $padding;
                border: 1px solid $primary-text-colour;
                font-weight: 500;
            }
        }
    }

    .nav-dots {
        @include flex-row(center, center, $padding-half);
        width: 100%;
        position: absolute;
        bottom: 115px;
        z-index: 2;
    }

    .dot {
        $dot-size: rem(12);
        height: $dot-size;
        width: $dot-size;
        border-radius: 50%;
        background-color: $primary-text-colour;
        display: inline-block;

        transition: background-color 0.5s ease-in-out;

        &.active-dot {
            background-color: $secondary-colour;
        }
    }

    .hero-image-carousel {
        display: block;
        width: 100%;
        z-index: 1;

        .carousel-image {
            width: 100%;
            @include position-absolute;
            opacity: 0;
            transition: opacity 1s ease-in-out;

            &.active-slide {
                opacity: 1;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: $header-section-height;
        }
    }

    &::before {
        @include wave-image(
            "../images/wave-white.png",   // Image path
            150px,   // Wave height
            215%,    // x-scale
            -70px,   // x-translation
            60px     // y-translation
        )
    }
    
}