// Typography Styles
@use "variables" as *;

body {
    font-family: $body-font;
    line-height: $line-height;
    color: $primary-text-colour;

    main {
        .section-customized-per-order {
            h3 { 
                color: $secondary-text-colour; 
                font-size: 1.7rem;
                font-weight: 800;
            }
            p { 
                color: $tertiery-text-colour; 
                font-weight: 500;
            }
            h4 { 
                color: $secondary-text-colour; 
                font-size: 1.3rem;
                font-weight: 800;
            }
        }

        .section-product-advisor {
            select { color: $quaternary-text-colour; }
        }

        .section-email-contact {
            label { color: $quinary-text-colour; }
            input { color: $quaternary-text-colour; }
        }

        .section-contact {
            .article-find-install { color: $senary-text-colour; }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}


