// Typography Styles
@use "variables" as *;
@use 'mixins' as *;

body {
    font-family: $body-font;
    line-height: $line-height;
    color: $primary-text-colour;

    main {
        .section-customized-per-order {
            .container-cpo-h3 h3 { 
                color: $secondary-text-colour; 
                font-size: 1.7rem;
                font-weight: 800;

                @include mq($tablet-width) {
                    color: $quinary-text-colour;
                }

                @include mq($desktop-general-width) {
                    font-size: 3rem;
                }
            }

            .container-cpo-p p { 
                color: $tertiery-text-colour; 
                font-weight: 500;

                @include mq($desktop-general-width) {
                    font-size: 1.1rem;
                }
            }

            .container-cpo-articles article {
                a .container-cpo-h4 h4 { 
                    color: $secondary-text-colour; 
                    font-size: 1.3rem;
                    font-weight: 800;

                    @include mq($tablet-width) {
                        color: $secondary-colour;
                    }

                    @include mq($desktop-general-width) {
                        font-size: 2rem;
                    }
                }

                .container-cpo-link a {
                    color: $secondary-text-colour;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }

        .section-product-advisor select { 
            color: $quaternary-text-colour; 
        }

        .section-email-contact {
            label { color: $quinary-text-colour; }
            input { color: $quaternary-text-colour; }
        }

        .section-contact .article-find-install { 
            color: $senary-text-colour; 
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}


