// Colours 
$primary-colour: #244A64;
$secondary-colour: #429BD6;
$light-blue-colour: #BEDCEF;
$nav-colour: #303B43;
$footer-colour: #429CD7;

// Text colours 👩‍🦲
$primary-text-colour: #FFFFFF;      // header, footer, h3, label, p
$secondary-text-colour: #555555;    // h3,h4 (customized per order section)
$tertiery-text-colour: #252525;     // <p> (customized per order section)
$quaternary-text-colour: #616161;   // dropdown form text (under product advisor)
$quinary-text-colour: #244A64;      // (Sign up for newsletter text)
$senary-text-colour: #504f4f;       // (installed in a city near you section)


// Fonts
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
$line-height: 1.25;

// Padding
$padding: 1rem;
$padding-half: 0.5rem;
$padding-double: 2rem;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';