@use "sass:math";

// Convert pixels to rem
@function rem($px, $default: 16) {
    @return #{math.div($px, $default)}rem;
}

// Colours
$primary-colour: #244A64;
$secondary-colour: #429BD6;
$light-blue-colour: #BEDCEF;
$nav-colour: #303B43;
$footer-colour: #429CD7;
$primary-text-colour: #FFFFFF;

// Fonts
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
$line-height: 1.25;

// Padding
$padding: 1rem;
$padding-half: 0.5rem;
$padding-double: 2rem;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Sections
$header-height: rem(700);