@use "sass:math";

// Convert pixels to rem
@function rem($px, $default: 16) {
    @return #{math.div($px, $default)}rem;
}

// Colours
$primary-colour: #154A66;
$secondary-colour: #009DDC;
$light-blue-colour: #BEDCEF;
$nav-colour: #303B43;
$header-colour: rgba(56, 52, 52, 0.8);

// Text colours 👩‍🦲
$primary-text-colour: #FFFFFF;          // header, footer, h3, label, p
$secondary-text-colour: #555555;        // h3,h4 (customized per order section)
$tertiery-text-colour: #252525;         // <p> (customized per order section)
$quaternary-text-colour: #616161;       // dropdown form text (under product advisor)
$quinary-text-colour: $primary-colour;    // (Sign up for newsletter text)
$senary-text-colour: #504F4F;           // (installed in a city near you section)


// Fonts
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
$line-height: 1.25;

// Padding
$padding: 1rem;
$padding-half: 0.5rem;
$padding-double: 2rem;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Device Widths
$mobile-width: rem(450);
$tablet-width: rem(800);  // smallest size tablet - 768px
$desktop-general-width: rem(1200);   

// Header Widths
$tablet-width: rem(800);  // smallest size tablet - 768px
$desktop-small-width: rem(1025);  // largest size tablet - 1024px
$desktop-medium-width: rem(1400);
$desktop-large-width: rem(1850);

// Header heights
$header-section-height: rem(750);
$header-height: rem(78);