*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

header {
  height: 42.1875rem;
}
header .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.875rem;
  background-color: rgba(56, 52, 52, 0.8);
  padding: 1rem;
  z-index: 4;
}
header .section-heading .header-top {
  display: none;
  justify-content: space-between;
}
header .section-heading .header-top .container-support-links,
header .section-heading .header-top .container-contact-links {
  display: none;
}
header .section-heading .logo img {
  height: 2.5rem;
}

.hamburger-menu {
  display: block;
  width: 35px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.hamburger-menu .text {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.hamburger-menu .hamburger-menu-content {
  display: block;
  height: 24px;
}
.hamburger-menu .bar {
  display: block;
  height: 3px;
  background-color: white;
  width: 100%;
  position: relative;
  top: 10px;
  transition: all 0.3s ease-in-out;
}
.show .hamburger-menu .bar {
  background-color: transparent;
}
.hamburger-menu .bar:before {
  content: "";
  width: 100%;
  height: 3px;
  top: 10px;
  left: 0;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.show .hamburger-menu .bar:before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-menu .bar:after {
  content: "";
  width: 100%;
  height: 3px;
  top: -10px;
  left: 0;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.show .hamburger-menu .bar:after {
  top: 0;
  transform: rotate(-45deg);
}
.hamburger-menu:focus {
  outline: none;
}
.hamburger-menu:focus .button-content {
  outline: 5px solid black;
}

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0.25rem;
}
.section-hero .container-hero-content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.section-hero .container-hero-content h1 {
  color: #FFFFFF;
  font-size: 1.6875rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
}
.section-hero .container-hero-content .container-hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.section-hero .container-hero-content .container-hero-btns > a {
  padding: 1rem;
  border: 1px solid #FFFFFF;
}
.section-hero .container-hero-content .nav-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: -100px;
}
.section-hero .container-hero-content .dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: inline-block;
  transition: background-color 0.5s ease-in-out;
}
.section-hero .container-hero-content .dot.active-dot {
  background-color: #429BD6;
}
.section-hero .hero-image-carousel {
  display: block;
  width: 100%;
  z-index: 1;
}
.section-hero .hero-image-carousel .carousel-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.section-hero .hero-image-carousel .carousel-image.active-slide {
  opacity: 1;
}
.section-hero .hero-image-carousel img {
  object-fit: cover;
  width: 100%;
  height: 42.1875rem;
}
.section-hero .wave-container {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
.section-hero .wave-container .wave {
  height: 100%;
  background-image: url("../images/wave-white.png");
  background-repeat: no-repeat;
  background-size: 215% 100%;
  background-position: -70px 60px;
}

.site-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 4.875rem;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 100%;
  background-color: rgba(56, 52, 52, 0.8);
  z-index: 3;
}
.site-navigation.activated {
  transition: height 0.3s ease, visibility 0s 0.3s ease;
}
.show .site-navigation {
  transition: height 0.3s ease, visibility 0s;
  visibility: visible;
  height: 288px;
}
.site-navigation ul {
  list-style: none;
}
.site-navigation a {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
}
.site-navigation a:hover, .site-navigation a:focus, .site-navigation a:active {
  background-color: #429BD6;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
  color: #FFFFFF;
}
body main .section-customized-per-order h3 {
  color: #555555;
}
body main .section-customized-per-order p {
  color: #252525;
}
body main .section-customized-per-order h4 {
  color: #555555;
}
body main .section-product-advisor select {
  color: #616161;
}
body main .section-email-contact label {
  color: #244A64;
}
body main .section-email-contact input {
  color: #616161;
}
body main .section-contact .article-find-install {
  color: #504f4f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
